0-positive_or_negative
0-preprocessor
100-intel
100-print_comb3
101-quote
102-print_comb5
1-compiler
1-last_digit
2-assembler
2-print_alphabet
3-name
3-print_alphabets
4-print_alphabt
4-puts
5-printf
5-print_numbers
6-print_numberz
6-size
7-print_tebahpla
8-print_base16
9-print_comb
a.out
applypatch-msg.sample
commit-msg.sample
fsmonitor-watchman.sample
post-update.sample
pre-applypatch.sample
pre-commit.sample
pre-merge-commit.sample
prepare-commit-msg.sample
pre-push.sample
pre-rebase.sample
pre-receive.sample
push-to-checkout.sample
update.sample
